{{define "_footer"}}

    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!--Linkedin -->
                    <a href="https://linkedin.com/in/mauricifj"><i class="icon-linkedin mr-3"></i></a>
                    <!--GitHub-->
                    <a href="https://github.com/mauricifj"><i class="icon-github ml-3"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-copyright mb-0">© 2020 Copyright: <a href="https://github.com/mauricifj">mauricifj</a></div>
    </footer>

{{end}}